body {
  margin: 0%;
  padding: 0%;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400px;
  color: #000000;
  text-transform: uppercase;

  background: #e9eef0;
}

a {
  text-decoration: none;
}
.container {
  color: #000000;
  background: #ffffff;
}
.main-navigation {
  line-height: 26px;
  color: #000000;

  background-color: #ffff;
}
.main-navigation a {
color: #000000;
}
.main-navigation a:hover {
  color: #81b3d2;
}
.main-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation-current a {
  color: #766357;
}
.info h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}
.info p {
  text-align: center;
}
.reasons h2 {
  font-size: 21px;
  line-height: 26px;
}
.reasons p {
  font-size: 14px;
  line-height: 26px;
}
.reason-item1, .reason-item3 {
  background-color: #84b5d3;
  color: #ffffff;
  text-align: center;
}
.reason-item2 {
  background-color: #ffffff;
  color: #333333;
  text-align: center;
}
.reason-item4 {
  background-color: #eeeeee;
  color: #333333;
  text-align: center;
}
.modal h2 {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.modal p {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}
.lot_min,
.lot_max {
  color: #8d7d73;
}
.lot_min:hover,
.lot_max:hover {
  color: #000000;
}
.lot_min:active,
.lot_max:active {
  color: #81b0cd;
}

.find_hotels {
  background-color: #8d7d73;
  color: #ffffff;
}
.find_hotels:hover {
  background-color: #6e5e54;
}
.find_hotels:active {
  background-color: #67574d;
  color: rgba(255, 255, 255, 0.3);
}
.finder_item {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.finder_item input {
  background-color: transparent;
}
.date_in, .date_out {
  background-color: #f7f7f7;
}
.date_in:hover,
.date_out:hover {
  background-color: #f0f0f0;
}
.date_in:active,
.date_out:active {
  background-color: #fdfdfd;
}
  input[type="date"] {
     color:#000000;
     font-size: 14px;
     line-height: 26px;
     font-weight: bold;
    }

button.search_hotels {
  background-color: #81b0cd;
  color: #ffffff;
}
button.search_hotels:hover {
  background-color: #6ca2c2;
}
button.search_hotels:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.main-footer {
  background-color: rgba(249, 250, 245, 0.9);
}
.tag_sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700px;
  color: #000000;
  text-transform: uppercase;
}
.footer-social {
  text-align: center;
}
.footer-social ul {
  list-style: none;
}
.social-button {
  background-color: #81b0cd;
  color: #f9faf5;
}
.social-button:hover {
  background-color: #6ca2c2;
}
.social-button:active{
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.footer-copyright {
  text-align: center;
}
.filters {
  background-image: url(img/background/filter_background.jpg);
  background-repeat: no-repeat;
  background-color: #5496bd;
  color: #ffffff;
}
.infrastructure,
.type_of_apartmnets {
  border: none;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700px;
  text-align: left;
}
.infrastructure ul,
.type_of_apartmnets ul {
  list-style: none;
}
.filter-option {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400px;
}
.filter-input:hover+label {
  color: #e9eef0;
}
.filter-input:disabled+label {
  color: #e9eef0;
  opacity: 0.5;
}
input[class="price"], button.show {
  display: inline-block;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400px;
  text-transform: uppercase;
}
input[class="price"] {
  width: 114px;
}
button.show {
  width: 141px;
}

button.show:hover,
button.show:active {
  background-color: #fff;
  color: #000;
}

.graduation a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed;
}
.search {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700px;
  color: #000000;
}
.graduation-type a:hover {
  color: #81b3d2;
}
.graduation-type a:active {
  color: #000000;
  text-decoration: none;
}
.graduation-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400px;
}
.catalog-item-description h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700px;
  color: #000000;
}
.catalog-item-description:hover h3 {
  color: #6ca2c2;
}
.catalog-item-description:active h3 {
  color: rgba(0, 0, 0, 0.3);
}
.button {
  display: inline-block;
  outline: none;
  height: 27px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700px;
  text-transform: uppercase;
}
.button-more {
  width: 110px;
  background-color: #81b0cd;
}
.button-more:hover {
  background-color: #6ca2c2;
}
.button-more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.button-reserve {
  width: 142px;
  background-color: #8d7d73;
}
.button-reserve:hover {
  background-color: #6e5e54;
}
.button-reserve:active {
  background-color: #67574d;
  color: rgba(255, 255, 255, 0.3);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon_html-academy {
  height: 39px;
  width: 113px;
  color: black
}
.icon_html-academy:hover {
  color: #81b3d2;
}
.icon_html-academy:active {
  color: #bdbbbc;
}
